In [1]:
!pip install mysqlclient

Collecting mysqlclient
  Downloading mysqlclient-2.1.0-cp37-cp37m-win_amd64.whl (179 kB)
Installing collected packages: mysqlclient
Successfully installed mysqlclient-2.1.0

In [2]:
import MySQLdb

In [8]:
host="localhost"
user="root"
password="Hashem33"
db="escola_curso"
port=3306

In [113]:
con=MySQLdb.connect(host,user,password,db,port)

In [114]:
c=con.cursor(MySQLdb.cursors.DictCursor)

def select(fields, tables, where=None):
    global c
    query = "SELECT " + fields + " FROM " + tables
    if where:
        query = query + " WHERE " + where

    c.execute(query)
    return c.fetchall()

result1= select("nome,cpf", "alunos", "id_aluno=1")

# Create a CRUD(Select)

In [115]:
print(result1)

({'nome': 'Pedro Magalhães Martins', 'cpf': '12345678901'},)

In [116]:
result = select("nome,cpf", "alunos")
print(result)

({'nome': 'Pedro Magalhães Martins', 'cpf': '12345678901'}, {'nome': 'Diego MAriano', 'cpf': '12345678999'}, {'nome': 'Fliper Ama', 'cpf': '125215157'}, {'nome': 'Ricardo Amado', 'cpf': '125555157'}, {'nome': 'Regina Cazé', 'cpf': '1558555157'}, {'nome': 'João Pedro', 'cpf': '12345678911'}, {'nome': 'Maria Pedro', 'cpf': '12345678910'}, {'nome': 'João Pedro', 'cpf': '12345678911'}, {'nome': 'Maria Pedro', 'cpf': '12345678910'})

In [117]:
print(result[0])

{'nome': 'Pedro Magalhães Martins', 'cpf': '12345678901'}

In [118]:
print(result[0]["cpf"])

12345678901

# Create a CRUD(Insert)

In [119]:
def insert(values,table,fields=None):
    
    global c,con
    
    query = "INSERT INTO " + table
    if (fields):
        query = query + " (" + fields + ") "
    query = query + " VALUES" + ",".join(["(" + v + ")" for v in values])
    
    c.execute(query)
    con.commit()
    
values = ["DEFAULT,'João Pedro','2000-01-01', 'Av.das Pedras,123','Betim','MG','12345678911'",
             "DEFAULT,'Maria Pedro','2000-01-01', 'Av.das Pedras,123','Betim','MG','12345678910'"]
insert(values,"alunos")

In [120]:
print(select("*","alunos"))

({'id_aluno': 1, 'nome': 'Pedro Magalhães Martins', 'data_nascimento': datetime.date(1987, 7, 17), 'endereco': 'Av.Anto.Carlos,6673', 'cidade': 'CONTAGEM', 'estado': 'MG', 'cpf': '12345678901'}, {'id_aluno': 2, 'nome': 'Diego MAriano', 'data_nascimento': datetime.date(1990, 1, 1), 'endereco': 'Av.Anto.Carlos,6673', 'cidade': 'BELO HORIZONTE', 'estado': 'MG', 'cpf': '12345678999'}, {'id_aluno': 3, 'nome': 'Fliper Ama', 'data_nascimento': datetime.date(2017, 1, 1), 'endereco': 'Av.Anto.Carlos,6673', 'cidade': 'BELO HORIZONTE', 'estado': 'MG', 'cpf': '125215157'}, {'id_aluno': 4, 'nome': 'Ricardo Amado', 'data_nascimento': datetime.date(1997, 2, 13), 'endereco': 'Av.Brasil,6630', 'cidade': 'CABO FRIO', 'estado': 'RJ', 'cpf': '125555157'}, {'id_aluno': 5, 'nome': 'Regina Cazé', 'data_nascimento': datetime.date(1920, 2, 2), 'endereco': 'Rua do MAr,6630', 'cidade': 'SLAVADOR', 'estado': 'BA', 'cpf': '1558555157'}, {'id_aluno': 6, 'nome': 'João Pedro', 'data_nascimento': datetime.date(2000, 1, 1), 'endereco': 'Av.das Pedras,123', 'cidade': 'Betim', 'estado': 'MG', 'cpf': '12345678911'}, {'id_aluno': 7, 'nome': 'Maria Pedro', 'data_nascimento': datetime.date(2000, 1, 1), 'endereco': 'Av.das Pedras,123', 'cidade': 'Betim', 'estado': 'MG', 'cpf': '12345678910'}, {'id_aluno': 8, 'nome': 'João Pedro', 'data_nascimento': datetime.date(2000, 1, 1), 'endereco': 'Av.das Pedras,123', 'cidade': 'Betim', 'estado': 'MG', 'cpf': '12345678911'}, {'id_aluno': 9, 'nome': 'Maria Pedro', 'data_nascimento': datetime.date(2000, 1, 1), 'endereco': 'Av.das Pedras,123', 'cidade': 'Betim', 'estado': 'MG', 'cpf': '12345678910'}, {'id_aluno': 10, 'nome': 'João Pedro', 'data_nascimento': datetime.date(2000, 1, 1), 'endereco': 'Av.das Pedras,123', 'cidade': 'Betim', 'estado': 'MG', 'cpf': '12345678911'}, {'id_aluno': 11, 'nome': 'Maria Pedro', 'data_nascimento': datetime.date(2000, 1, 1), 'endereco': 'Av.das Pedras,123', 'cidade': 'Betim', 'estado': 'MG', 'cpf': '12345678910'})

# Create a CRUD(Update)

In [147]:
def update(sets, table, where=None):
    
    global c,con
    
    query = "UPDATE " + table
    query = query + " SET " + ",".join([field + "= '" + value + "'" for field, value in sets.items()])
    if (where):
        query = query + " WHERE " + where
   
    c.execute(query)
    con.commit()

In [150]:
update({"nome": "Fliper Ama", "cidade": "São Paulo"}, "alunos", "id_aluno=3" )

# Create a CRUD(Delete)

In [155]:
def delete(table,where):
    global c,con
    query = "DELETE FROM " + table + " WHERE " + where
    
    c.execute(query)
    con.commit()

In [168]:
print(select("*","alunos", "id_aluno = 9"))

({'id_aluno': 9, 'nome': 'Maria Pedro', 'data_nascimento': datetime.date(2000, 1, 1), 'endereco': 'Av.das Pedras,123', 'cidade': 'Betim', 'estado': 'MG', 'cpf': '12345678910'},)

In [169]:
print( delete("alunos", "id_aluno = 9"))

None

In [170]:
print(select("*","alunos", "id_aluno = 9"))

()

# Fechando o curso e a conexão com o banco de dados

In [ ]:
c.close()

In [172]:
con.close()